@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .theLine::after{
      content: "";
      height: 3px;
      width: 4rem;
      background-color: #CDB46D;
      position: absolute;
      bottom: -0.5rem;
      left: 0rem;
      border-radius: 15px;
  }

  /* scrollbar */

  .scrollBarDesign{
    @apply [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-slate-500 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-[#CDB46D]
  }

  /* hamburger menu */

  .menu span:nth-child(2){
    transform-origin: 0 0;
  }
  .menu span:nth-child(4){
    transform-origin: 0 100%;
  }
  .menu input:checked ~ span:nth-child(2){
    background-color: red;
    transform: rotate(45deg);
    translate: -1px -1px;
  }
  .menu input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
  }
  .menu input:checked ~ span:nth-child(4){
    background-color: red;
    transform: rotate(-45deg);
    translate: -1px -1px;
  }
}